<div class="container">
    <h3 class="center-align">Registrar Rutas</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
        <div class="row">
            <div class="input-field col s12">
                <select class="browser-default" formControlName="ruta">
                    <option value="" disabled selected>Seleccione el origen</option>
                    <option *ngFor="let i of listadoRutas" value="{{i.origen}}-{{i.destino}}">
                        {{i.origen}}-{{i.destino}}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input formControlName="fechaInicio" type="date" class="validate">
                <label for="nombre">Fecha Inicio</label>
            </div>

            <div class="input-field col s6">
                <input formControlName="horaInicio" type="time" class="validate">
                <label for="nombre">Hora Inicio</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input formControlName="fechaFin" type="date" class="validate">
                <label for="nombre">Fecha Fin</label>
            </div>

            <div class="input-field col s6">
                <input formControlName="horaFin" type="time" class="validate">
                <label for="nombre">Hora Fin</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input formControlName="asientosVendidos" type="number" class="validate">
                <label for="nombre">Asientos Vendidos</label>
            </div>

            <div class="input-field col s6">
                <input formControlName="nombrePiloto" type="text" class="validate">
                <label for="nombre">Nombre del Piloto</label>
            </div>
        </div>


        <div class="row center-align">
            <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit"
                name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>