<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mision Tic 2022</h5>
          <p class="grey-text text-lighten-4">Grupo 30 - Ciclo2.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Equipo 7</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">MURILLO PESELLIN ANDRÉS FELIPE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">SILVA DUARTE JORGE ERNESTO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">SUAZO SALINAS OSCAR ARMANDO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CADENA PARDO BRANDON STEVE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">MURILLAS RAYO JOSE LINCER</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Andrés Felipe Murillo Pesellin
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
